**
!services/
!services/backend/
!services/backend/**
!platform/
!platform/k8s/
!platform/k8s/scripts/
!platform/k8s/scripts/import-and-cleanup.sh

services/backend/.gradle/
services/backend/**/build/
services/backend/**/.idea/
services/backend/**/*.iml
